<body>
    <h1>Project List</h1>
<ul>
    {{#each cases}}
        <li><p><strong>Username:</strong> {{this.username}}</p></li>
        <li><p><strong>Title:</strong> {{this.title}}</p></li>
        <li><p><strong>Description:</strong> {{this.description}}</p></li>
        <li><p><strong>Created Date:</strong> {{this.created_date}}</p></li>
        <li><p><strong>Due Date:</strong> {{this.due_date}}</p></li>
        <li><p><strong>Company Name:</strong> {{this.company_name}}</p></li>
        <li><p><strong>Company Email:</strong> {{this.company_email}}</p></li>
        <li><p><strong>Person in Charge:</strong> {{this.person_in_charge}}</p></li>
</li>
    {{/each}}
</ul>
</body>
