{{!-- create a page to register a case --}}
<body>
 
<h1>Project List</h1>
 <a href="/create" class="btn btn-primary">
    <i class="bi bi-skip-backward-fill"></i> Create New Case
</a>
<ul>
       <ul>
    {{#each cases}}
    {{!--  register required info to database --}}
        <li><p><strong>Username:</strong> {{this.username}}</p></li>
        <li><p><strong>Title:</strong> {{this.title}}</p></li>
        <li><p><strong>Description:</strong> {{this.description}}</p></li>
        <li><p><strong>Created Date:</strong> {{this.created_date}}</p></li>
        <li><p><strong>Due Date:</strong> {{this.due_date}}</p></li>
        <li><p><strong>Company Name:</strong> {{this.company_name}}</p></li>
        <li><p><strong>Company Email:</strong> {{this.company_email}}</p></li>
        <li><p><strong>Person in Charge:</strong> {{this.person_in_charge}}</p></li>

</ul>
 {{!-- show edit and delete buttons if user is authenticated --}}
        {{#if ../user}}
        <a href="/edit/{{this._id}}" class="btn bg-primary">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
        <a href="/delete/{{this._id}}" class="btn bg-primary" onclick="return confirm('Do you really want delete this?');">
            <i class="bi bi-x-circle"></i> Delete
        </a>
        {{/if}}

      {{/each}}
</body>