<body style="background-image: url('{{backgroundImg}}');">
  
<h1>Project List</h1>
 <a href="/create" class="btn btn-info">
    <i class="bi bi-skip-backward-fill"></i> Create New Case
</a>
<ul>
       <ul>
    {{#each cases}}
        <li><p><strong>Username:</strong> {{this.username}}</p></li>
        <li><p><strong>Title:</strong> {{this.title}}</p></li>
        <li><p><strong>Description:</strong> {{this.description}}</p></li>
        <li><p><strong>Created Date:</strong> {{this.created_date}}</p></li>
        <li><p><strong>Due Date:</strong> {{this.due_date}}</p></li>
        <li><p><strong>Company Name:</strong> {{this.company_name}}</p></li>
        <li><p><strong>Company Email:</strong> {{this.company_email}}</p></li>
        <li><p><strong>Person in Charge:</strong> {{this.person_in_charge}}</p></li>
        <li><p><strong>File:</strong> {{this.file_storage_function}}</p></li>

</ul>
        {{#if ../user}}
        <a href="/edit/{{this._id}}" class="btn btn-info">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
        <a href="/delete/{{this._id}}" class="btn btn-info" onclick="return confirm('Are you sure you want to delete this case?');">
            <i class="bi bi-x-circle"></i> Delete
        </a>
        {{/if}}

      {{/each}}
</body>